/* CustomControlBar.css */

.custom-controls {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
    color: white;
    z-index: 1000;
}

.custom-controls.fullscreen {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 90%;
}

.custom-controls-right {
    display: flex;
    gap: 5px;
}

.custom-controls-volume {
    display: flex;
    align-items: center;
}

.custom-controls button:disabled {
    background-color: #f1f1f1;
}

.custom-controls button,
.custom-controls input[type="range"],
.custom-controls select {
    margin: 0 5px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.custom-controls button:hover,
.custom-controls select:hover,
.custom-controls input[type="range"]:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.custom-controls input[type="range"] {
    -webkit-appearance: none;
    width: 50px;
    background: transparent;
    cursor: pointer;
}

.custom-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.01px;
    height: 0.01px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
    transform: translate(0, -50%);
}
