.page {
    display: flex;
    height: calc(100%);
}

.container {
    width: calc(100% - 320px);
    height: 100%;
}

.chat {
    background-color: white;
    width: 320px;
    height: 100%;
    top: 80px;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-direction: column;

    color: white;

    &_header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    }

    &_data {
        height: calc(100% - 36px - 80px);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        // align-self: flex-end;
    }

    textarea {
        height: 80px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.3);
        resize: none;
        margin: 10px;
        outline: none;
        color: white;
        padding: 10px;
    }
}

.chatBox {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 5px 15px;
}
